.root {
  display: flex;
  width: 100%;
  justify-content: center;
}
.container {
  text-align: center;
  width: 80%;
  margin: 10px 0px;
  padding: 20px 0px;
}

.heading {
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3b3a37;
  margin-bottom: 2rem;
}

.faqList {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.faqItemContainer {
  border-bottom: 1px solid #dedddd;
}
.faqItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px 0;
}

.question {
  transition: color 0.3s;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3b3a37;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.question:hover {
  color: #0070f3;
}

.answer {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #666563;
  width: 55%;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .heading {
    font-size: 32px;
    line-height: 38px;
  }

  .question {
    font-size: 18px;
  }

  .answer {
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }

  .question {
    font-size: 16px;
  }

  .answer {
    font-size: 14px;
  }
}
