
.root {
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 2rem 0rem;
  margin-top: 106px;
  background: #F4F4F5;


  display: flex;
}
.firstSection {
  flex: 1;
  background-image: url("/mens.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 546px; 
 min-width: 690px; */
}
/* .titleHolder {
  width: 398px;
  height: 240px;
} */

.secondSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3b3a37;
  width: 45%;
  padding-top: 72px;     
  padding-bottom: 72px;  
  padding-left: 46px;    
  padding-right: 44px;
  /* margin-left: 24px; */
}

.nanoCoating {
  font-family: Playfair Display;
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #414bc1;
}

.indicatorsContainer {
  display: flex;
  /* justify-content: space-between; */
  gap: 44px;
}

.indicators {
width: 177px;
}
.indicators h3 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3b3a37;
  /* min-width: 177px; */
}
.indicators p {
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #666563;
}

@media (max-width: 1640px) {
  .secondSection {
    padding: 2rem 2rem;
  }
  .indicators h3 {
    font-size: 34px;
    line-height: 50px;
  }
}

@media (max-width: 1080px) {
  .container {
    flex-direction: column;
  }
  .firstSection {
    min-height: 20rem;
  }
  .secondSection {
    padding: 2rem 2rem;
    width: 100%;
  }
  .indicators h3 {
    font-size: 34px;
    line-height: 50px;
  }
}

@media (max-width: 460px) {
  .container {
    width: 100%;
  }
  .root {
  padding-left: 16px;
  padding-right: 16px;
}

.nanoCoating {
  font-family: Playfair Display;
  font-size: 24px;
  line-height: 30px;
}
.secondSection {
  font-size: 24px;
  line-height: 30px;
}
}
