

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 384px; /* Matches the desired card width */
    padding: 56px 44px 112px 44px;
    gap: 24px;
    background: #F4F4F5;
  }
  
  /* Icon container */
  .icon {
    width: 104px;
    height: 104px;
  }
  
  /* Divider */
  .divider {
    width: 100%;
    height: 1px;
    background-color: #DEDDDD;

  }
  
  /* Heading styles */
  .heading {
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-offset: 4px;
    text-decoration-skip-ink: auto;
    color: #666563;

  }
  .root {
    display: flex;
    justify-content: center;
    /* margin-bottom: 4rem; */
  }
  /* Description styles */
  .description {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #3B3A37;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container2 {
    display: flex;
    flex-direction: column;
    gap: 24px;

  }

    /* Horizontal alignment for larger screens */
    @media (min-width: 768px) {
      .container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .container2 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
}
  
  